            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <ul class="sidebar-menu" id="sidebar-menu">
                        <li class="active">
                            <a href="/">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa  fa-pencil"></i>
                                <span>日志管理</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/log/realtime"><i class="fa fa-angle-double-right"></i>实时日志</a></li>
                                <li><a href="/log/ipstats"><i class="fa fa-angle-double-right"></i>Ip Stats</a></li>
                                <li><a href="/media/mediastats"><i class="fa fa-angle-double-right"></i>媒体综合统计</a></li>
                                <li><a href="/media/compare"><i class="fa fa-angle-double-right"></i>媒体比较</a></li>
                                <li><a href="/media/mediaprovince"><i class="fa fa-angle-double-right"></i>省级top20</a></li>
                                <li><a href="/media/mediadriver"><i class="fa fa-angle-double-right"></i>访问来源</a></li>
                                <li><a href="/media/createMapChartTest"><i class="fa fa-angle-double-right"></i>多地图测试</a></li>
                                <li><a href="/media/mediaprovincetest"><i class="fa fa-angle-double-right"></i>多省份测试</a></li>
                                <li><a href="/media/pie"><i class="fa fa-angle-double-right"></i>饼图</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </aside>